# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# coverage
coverage/

# prisma
prisma/migrations/